
@font-face {
  font-family: 'KeepCalm-Medium';
  src: url('KeepCalm-Medium.eot?#iefix') format('embedded-opentype'),  url('KeepCalm-Medium.woff') format('woff'), url('KeepCalm-Medium.ttf')  format('truetype'), url('KeepCalm-Medium.svg#KeepCalm-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
