- content_for :panel do
  .item.active Все
  .item Текущие
  .item СпидCкульпты
  .item ЛонгБаттлы
  .item КлейБаттлы
  .item ФанЧелленджи

.section-row
  - (1..4).each do |index|
    .item
      .bg{style: "background-image: url(#{image_url 'current/' + index.to_s + '.jpg'})"}
      .info
        .name SpeedSculpt #46
        .meta Vasya Pupkin - 1 place

.battles-albums
  - favorites.each do |batch|
    .albums-row
      - batch.each do |url|
        .item
          .bg{style: "background-image: url(#{image_url 'cats/' + url})"}
          .info
            .name SpeedSculpt #46
            .meta Vasya Pupkin - 1 place
