// Place all the styles related to the Battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-row {
  margin: 60px auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 16vw;
  cursor: default;
  user-select: none;
  color: rgba(255,255,255,1);
  font-family: 'MVideo';

  .item {
    -moz-user-select: none;
    user-select: none;
    width: 22vw;
    height: 16vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 50px 0px black;

    p {
      margin: 0;
    }

    .info {
      text-align: center;
      line-height: 1;
      text-shadow: 0 0 10px black;


      .current {
        text-transform: uppercase;
        font-size: 25px;
      }

      .name {
        padding-top: 10px;
        font-family: 'Keep Calm';
        font-size: 45px;
      }

      .date {
        font-size: 20px;

        .red {
          color: #ff2f34;
        }
      }
    }

    .white {
      color: black;
      text-shadow: 0 0 10px white;
    }
  }
}

.battles-albums {
  .albums-row {
    width: 100%;
    margin-top: 25px;
    display: flex;
    padding: 0 25px;
    justify-content: space-between;

    .item {
      -moz-user-select: none;
      user-select: none;
      width: 15vw;
      height: 15vw;
      box-shadow: 0 0 50px 0px black;

      .bg {
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }

      .info {
        bottom: 100px;
        position: relative;
        padding-left: 10px;
        padding-top: 30px;
        margin-bottom: 0;
        height: 100px;
        color: rgba(0,0,0,0);
        cursor: default;
        user-select: none;
        font-size: 10px;

        .name {
          font-size: 20px;
          margin-top: 15px;
        }

        p.meta {
          color: rgba(0,0,0,0);
          cursor: default;
          font-size: 12px;

          position: relative;
          cursor: default;
          user-select: none;

        }
      }

      &:hover {
        .bg {
        }

        p.meta {
          color: rgba(255,255,255,1);
        }

        .info {
          color: rgba(255,255,255,1);

          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
        }
      }
    }
  }
}

