// Place all the styles related to the Battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-row {
  margin: 30px auto 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 16vw;
  cursor: default;
  user-select: none;
  color: rgba(255,255,255,1);
  font-family: 'MVideo';

  .item {
    -moz-user-select: none;
    user-select: none;
    width: 22vw;
    height: 16vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 20px 0px black;

    p {
      margin: 0;
    }

    .info {
      text-align: center;
      line-height: 1;
      text-shadow: 0 0 10px black, 0 0 10px black;


      .current {
        text-transform: uppercase;
        font-size: 25px;
      }

      .name {
        padding-top: 10px;
        font-family: 'Keep Calm';
        font-size: 45px;
      }

      .date {
        font-size: 20px;

        .red {
          color: #ff2f34;
        }
      }
    }

    .white {
      color: black;
      text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
    }
  }
}

.battles-albums {
  .albums-row {
    width: 100%;
    margin-top: 25px;
    display: flex;
    padding: 0 25px;
    justify-content: space-between;

    .item {
      -moz-user-select: none;
      user-select: none;
      width: 15vw;
      height: 15vw;
      box-shadow: 0 0 15px 0px black;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      font-family: 'Keep Calm';
      position: relative;

      .info {
        text-transform: uppercase;
        bottom: 0px;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 22px;
        font-size: 13px;
        padding: 3px;
        text-shadow: 0 0 10px black, 0 0 10px black;

        .number {
          float: right;
          font-size: 38px;
          line-height: 0;
        }
      }
    }
  }
}

